@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans";
}
*{
    padding: 0;
    margin: 0;
}
/*navbar*/
header{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-left h3{
    font-size: 45px;
    font-weight: 700;
}
.nav-right ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    color: rgb(60, 53, 79);
    font-size: 18px;
    font-weight: 500;
}
.spcl{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(60, 53, 79);
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 10px 15px;
}
/*banner*/
.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-left h3{
    color: rgb(11, 2, 35);
    font-size: 48px;
    font-weight: 600;
}
.banner-left h1{
    background-image: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    font-size: 95px;
    font-weight: 800;
    color: transparent;
    background-clip: text;
}
.banner-left ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(83, 76, 100);
    font-size: 20px;
    font-weight: 500;
}
.banner-left ul{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.signin{
    width: 156px;
    height: 65px;
    padding: 21px 40px 21px 40px;
    border-radius: 48px;
    border: none;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
.banner-btn{
    margin-top: 50px;
    display: flex;
    gap: 25px;
}
.gorogue{
    width: 185px;
    height: 65px;
    padding: 21px 40px 21px 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    border: none;
    background: rgb(78, 197, 247);
}
.banner-right{
    width: 50%;
}
.banner-right img{
    height: 100%;
    width: 100%;
}
/*Responsive*/
@media screen and (max-width: 576px){
    /*navbar*/
    nav{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .nav-right ul{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /*banner*/
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner-left{
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }
    .banner-left h3{
        font-size: 40px;
    }
    .banner-left h1{
        font-size: 85px;
    }
    .banner-left ul li{
        width: 120%;
    }
    .signin{
        font-size: 17px;
    }
    .gorogue{
        font-size: 17px;
    }
    .banner-right{
        margin-top: 20px;
        width: 100%;
    }
}